---
import "../styles/global.css";

---

<footer class="bg-blue-950 text-white">

    <div class="bg-blue-950 flex justify-around p-2 gap-2">

        <div class="flex justify-center align-middle p-2 w-4/5">
            <h1 class="text-4xl font-bold">GPool<span class="">DEV</span> </h1>
        </div>
    
        <div class="flex justify-center gap-2 flex-wrap w-1/5">

            <div class="rounded-2xl p-2 hover:bg-blue-900">
                <div class="flex justify-center">
                    <i class="fa-brands fa-github"></i>
                </div>
                <a href="" class="text-lg">GitHub</a>
            </div>

            <div class="rounded-2xl p-2 hover:bg-blue-900">
                <div class="flex justify-center">
                    <i class="fa-brands fa-linkedin"></i>
                </div>
                <a href="" class="">Linkedin</a>
            </div>  

        </div>

    </div>
    
    <div class="flex justify-center p-2">
        <p>&copy; 2025 Gian Pool. Todos los derechos reservados.</p>
    </div>

</footer>

<script src="https://kit.fontawesome.com/6e1d308a47.js" crossorigin="anonymous"></script>