---
import "../styles/global.css";
---

<div class="p-4" id="mi">

</div>

<div class="block m-auto w-5/6 p-4">

    <div class="flex justify-around flex-wrap gap-2">

        <div class="p-4 w-full lg:w-2/5">
            <div class="block text-center p-4 font-bold">
                <h1 class="text-4xl">Hola, Soy <span>Gian Pool</span>!</h1>
                <h2 class="text-3xl">Junior Developer</h2>                
            </div>
            <div class="p-4">
                <p class="text-justify">
                    Desde que comencé a escribir código, supe que el desarrollo de software es mi verdadera vocación. Me motiva resolver problemas complejos y aportar al mundo tech mediante aplicaciones eficientes y bien diseñadas. Soy una persona resiliente, siempre en busca de aprender y mejorar. Estoy emocionado por enfrentar nuevos retos y crecer en un equipo dinámico donde pueda seguir perfeccionando mis habilidades como desarrollador.
                </p>
            </div>

            <div class="flex justify-around gap-2 p-2">
                <a href="https://github.com/GianPool7" target="_blank" rel="noopener noreferrer" class="bg-gray-300 w-full text-center rounded-2xl p-2 hover:shadow-blue-900 hover:shadow-md sm:w-1/6">
                    <i class="fa-brands fa-github"></i>
                    <span>GitHub</span>
                </a>
                <a href="doc/Gian_Pool-Alvino_Cantaro-CV-2025.pdf" target="_blank" rel="noopener noreferrer" class="bg-gray-300 w-full text-center rounded-2xl p-2 hover:shadow-black hover:shadow-md sm:w-1/6">
                    <i class="fa-regular fa-file"></i>
                    <span>Cv</span>
                </a>
            </div>

        </div>


        <div class="flex justify-center p-4 w-full lg:w-2/5">
            <img src="presentacion/p.png" alt="">
        </div>

    </div>

</div>

<!-- <script src="/src/assets/js/modos.js"></script> -->